# Qatar2022-Football-World-Cup

In [1]:
import pandas as pd

In [2]:
histroy_matches = pd.read_csv('../input/qatar2022worldcupschudule/historical_win-loose-draw_ratios_qatar2022_teams.csv')

In [3]:
matchs_schudule = pd.read_csv('../input/qatar2022worldcupschudule/matchs-schudule.csv',sep=';')
Qatar2022_teams = pd.read_csv('../input/qatar2022worldcupschudule/Qatar2022-teams.csv',sep=';')

# Data preprocessing

In [4]:
histroy_matches

       country1    country2  games      wins    looses     draws
0     Argentina   Australia      7  0.714286  0.142857  0.142857
1     Australia   Argentina      7  0.142857  0.714286  0.142857
2     Argentina     Belgium      4  0.750000  0.250000  0.000000
3       Belgium   Argentina      4  0.250000  0.750000  0.000000
4     Argentina      Brazil    108  0.361111  0.398148  0.240741
..          ...         ...    ...       ...       ...       ...
793   Australia       Wales      1  1.000000  0.000000  0.000000
794       Wales  Costa Rica      2  0.500000  0.500000  0.000000
795  Costa Rica       Wales      2  0.500000  0.500000  0.000000
796       Wales     Uruguay      2  0.000000  0.500000  0.500000
797     Uruguay       Wales      2  0.500000  0.000000  0.500000

[798 rows x 6 columns]

In [5]:
matchs_schudule

    match        date country1      coutry2           phase
0       1  21/11/2022    Qatar      Ecuador   group matches
1       2  21/11/2022  Senegal  Netherlands   group matches
2       3  21/11/2022  England         Iran   group matches
3       4  21/11/2022      USA        Wales   group matches
4       5  22/11/2022   France    Australia   group matches
..    ...         ...      ...          ...             ...
59     60  10/12/2022      W55          W56  quarter-finals
60     61  13/12/2022      W57          W58     semi-finals
61     62  14/12/2022      W59          W60     semi-finals
62     63  17/12/2022      L61          L62     third place
63     64  18/12/2022      W61          W62           final

[64 rows x 5 columns]

In [6]:
matchs_schudule = matchs_schudule.rename(columns = {'coutry2':'country2'})

In [7]:
type(matchs_schudule['date'])

pandas.core.series.Series

In [8]:
matchs_schudule['date']=pd.to_datetime(matchs_schudule['date'],format='%d/%m/%Y')

In [9]:
Qatar2022_teams.head()

          Team Group
0      Senegal     A
1        Qatar     A
2  Netherlands     A
3      Ecuador     A
4         Iran     B

In [10]:
matchs_schudule['Team']=matchs_schudule['country1']
matches_groups = matchs_schudule.merge(Qatar2022_teams,on='Team').sort_values('date')

In [11]:
matches_groups

,match,date,country1,country2,phase,Team,Group
0,1,2022-11-21,Qatar,Ecuador,group matches,Qatar,A
2,2,2022-11-21,Senegal,Netherlands,group matches,Senegal,A
3,3,2022-11-21,England,Iran,group matches,England,B
5,4,2022-11-21,USA,Wales,group matches,USA,B
6,5,2022-11-22,France,Australia,group matches,France,D
8,6,2022-11-22,Denmark,Tunisia,group matches,Denmark,D
9,7,2022-11-22,Mexico,Poland,group matches,Mexico,C
10,8,2022-11-22,Argentina,Saudi Arabia,group matches,Argentina,C
17,12,2022-11-23,Morocco,Croatia,group matches,Morocco,F
16,11,2022-11-23,Germany,Japan,group matches,Germany,E
12,9,2022-11-23,Belgium,Canada,group matches,Belgium,F
14,10,2022-11-23,Spain,Costa Rica,group matches,Spain,E
20,15,2022-11-24,Portugal,Ghana,group matches,Portugal,H
22,16,2022-11-24,Brazil,Serbia,group matches,Brazil,G
18,13,2022-11-24,Switzerland,Cameroon,group matches,Switzerland,G
19,14,2022-11-24,Uruguay,South Korea,group matches,Uruguay,H
26,19,2022-11-25,Netherlands,Ecuador,group matches,Netherlands,A
24,17,2022-11-25,Wales,Iran,group matches,Wales,B
4,20,2022-11-25,England,USA,group matches,England,B
1,18,2022-11-25,Qatar,Senegal,group matches,Qatar,A
7,23,2022-11-26,France,Denmark,group matches,France,D
28,21,2022-11-26,Tunisia,Australia,group matches,Tunisia,D
11,24,2022-11-26,Argentina,Mexico,group matches,Argentina,C
30,22,2022-11-26,Poland,Saudi Arabia,group matches,Poland,C
15,28,2022-11-27,Spain,Germany,group matches,Spain,E
34,27,2022-11-27,Croatia,Canada,group matches,Croatia,F
13,26,2022-11-27,Belgium,Morocco,group matches,Belgium,F
32,25,2022-11-27,Japan,Costa Rica,group matches,Japan,E
38,30,2022-11-28,South Korea,Ghana,group matches,South Korea,H
36,29,2022-11-28,Cameroon,Serbia,group matches,Cameroon,G
23,31,2022-11-28,Brazil,Switzerland,group matches,Brazil,G
21,32,2022-11-28,Portugal,Uruguay,group matches,Portugal,H
27,36,2022-11-29,Netherlands,Qatar,group matches,Netherlands,A
25,33,2022-11-29,Wales,England,group matches,Wales,B
40,34,2022-11-29,Iran,USA,group matches,Iran,B
41,35,2022-11-29,Ecuador,Senegal,group matches,Ecuador,A
31,39,2022-11-30,Poland,Argentina,group matches,Poland,C
29,38,2022-11-30,Tunisia,France,group matches,Tunisia,D
42,37,2022-11-30,Australia,Denmark,group matches,Australia,D
43,40,2022-11-30,Saudi Arabia,Mexico,group matches,Saudi Arabia,C
33,43,2022-12-01,Japan,Spain,group matches,Japan,E
35,41,2022-12-01,Croatia,Belgium,group matches,Croatia,F
45,44,2022-12-01,Costa Rica,Germany,group matches,Costa Rica,E
44,42,2022-12-01,Canada,Morocco,group matches,Canada,F
39,46,2022-12-02,South Korea,Portugal,group matches,South Korea,H
46,45,2022-12-02,Ghana,Uruguay,group matches,Ghana,H
37,48,2022-12-02,Cameroon,Brazil,group matches,Cameroon,G
47,47,2022-12-02,Serbia,Switzerland,group matches,Serbia,G

In [12]:
# get results for these teams
qatar_2022_teams_list = list(Qatar2022_teams['Team'])
qatar_2022_hist = histroy_matches.loc[(histroy_matches.country1.isin(qatar_2022_teams_list)) & (histroy_matches.country1.isin(qatar_2022_teams_list)),: ]

qatar_2022_hist

       country1    country2  games      wins    looses     draws
0     Argentina   Australia      7  0.714286  0.142857  0.142857
1     Australia   Argentina      7  0.142857  0.714286  0.142857
2     Argentina     Belgium      4  0.750000  0.250000  0.000000
3       Belgium   Argentina      4  0.250000  0.750000  0.000000
4     Argentina      Brazil    108  0.361111  0.398148  0.240741
..          ...         ...    ...       ...       ...       ...
793   Australia       Wales      1  1.000000  0.000000  0.000000
794       Wales  Costa Rica      2  0.500000  0.500000  0.000000
795  Costa Rica       Wales      2  0.500000  0.500000  0.000000
796       Wales     Uruguay      2  0.000000  0.500000  0.500000
797     Uruguay       Wales      2  0.500000  0.000000  0.500000

[798 rows x 6 columns]

In [13]:
qatar_2022_hist_2 = matches_groups.merge(qatar_2022_hist,on=['country1','country2'],how='inner').sort_values('date')
qatar_2022_hist_2

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws
0,1,2022-11-21,Qatar,Ecuador,group matches,Qatar,A,3,0.333333,0.333333,0.333333
1,5,2022-11-22,France,Australia,group matches,France,D,5,0.600000,0.200000,0.200000
2,6,2022-11-22,Denmark,Tunisia,group matches,Denmark,D,1,1.000000,0.000000,0.000000
3,7,2022-11-22,Mexico,Poland,group matches,Mexico,C,9,0.333333,0.333333,0.333333
4,8,2022-11-22,Argentina,Saudi Arabia,group matches,Argentina,C,4,0.500000,0.000000,0.500000
5,12,2022-11-23,Morocco,Croatia,group matches,Morocco,F,1,0.000000,0.000000,1.000000
6,11,2022-11-23,Germany,Japan,group matches,Germany,E,2,0.500000,0.000000,0.500000
7,9,2022-11-23,Belgium,Canada,group matches,Belgium,F,1,1.000000,0.000000,0.000000
8,10,2022-11-23,Spain,Costa Rica,group matches,Spain,E,3,0.666667,0.000000,0.333333
11,14,2022-11-24,Uruguay,South Korea,group matches,Uruguay,H,8,0.750000,0.125000,0.125000
9,15,2022-11-24,Portugal,Ghana,group matches,Portugal,H,1,1.000000,0.000000,0.000000
10,16,2022-11-24,Brazil,Serbia,group matches,Brazil,G,5,0.800000,0.000000,0.200000
12,19,2022-11-25,Netherlands,Ecuador,group matches,Netherlands,A,2,0.500000,0.000000,0.500000
13,17,2022-11-25,Wales,Iran,group matches,Wales,B,1,1.000000,0.000000,0.000000
17,22,2022-11-26,Poland,Saudi Arabia,group matches,Poland,C,4,1.000000,0.000000,0.000000
14,23,2022-11-26,France,Denmark,group matches,France,D,15,0.533333,0.333333,0.133333
15,21,2022-11-26,Tunisia,Australia,group matches,Tunisia,D,1,1.000000,0.000000,0.000000
16,24,2022-11-26,Argentina,Mexico,group matches,Argentina,C,31,0.483871,0.129032,0.387097
20,25,2022-11-27,Japan,Costa Rica,group matches,Japan,E,4,0.750000,0.000000,0.250000
19,26,2022-11-27,Belgium,Morocco,group matches,Belgium,F,3,0.666667,0.333333,0.000000
18,28,2022-11-27,Spain,Germany,group matches,Spain,E,25,0.320000,0.360000,0.320000
21,30,2022-11-28,South Korea,Ghana,group matches,South Korea,H,6,0.500000,0.500000,0.000000
22,29,2022-11-28,Cameroon,Serbia,group matches,Cameroon,G,1,0.000000,1.000000,0.000000
23,31,2022-11-28,Brazil,Switzerland,group matches,Brazil,G,9,0.333333,0.222222,0.444444
24,32,2022-11-28,Portugal,Uruguay,group matches,Portugal,H,3,0.333333,0.333333,0.333333
25,33,2022-11-29,Wales,England,group matches,Wales,B,104,0.144231,0.653846,0.201923
26,35,2022-11-29,Ecuador,Senegal,group matches,Ecuador,A,2,0.000000,1.000000,0.000000
30,40,2022-11-30,Saudi Arabia,Mexico,group matches,Saudi Arabia,C,5,0.000000,0.800000,0.200000
29,37,2022-11-30,Australia,Denmark,group matches,Australia,D,4,0.250000,0.500000,0.250000
27,39,2022-11-30,Poland,Argentina,group matches,Poland,C,11,0.272727,0.545455,0.181818
28,38,2022-11-30,Tunisia,France,group matches,Tunisia,D,4,0.000000,0.500000,0.500000
31,43,2022-12-01,Japan,Spain,group matches,Japan,E,1,0.000000,1.000000,0.000000
32,41,2022-12-01,Croatia,Belgium,group matches,Croatia,F,8,0.375000,0.375000,0.250000
33,44,2022-12-01,Costa Rica,Germany,group matches,Costa Rica,E,1,0.000000,1.000000,0.000000
34,42,2022-12-01,Canada,Morocco,group matches,Canada,F,3,0.000000,0.666667,0.333333
37,48,2022-12-02,Cameroon,Brazil,group matches,Cameroon,G,6,0.166667,0.833333,0.000000
35,46,2022-12-02,South Korea,Portugal,group matches,South Korea,H,1,1.000000,0.000000,0.000000
36,45,2022-12-02,Ghana,Uruguay,group matches,Ghana,H,1,0.000000,0.000000,1.000000
38,47,2022-12-02,Serbia,Switzerland,group matches,Serbia,G,5,0.200000,0.200000,0.600000

In [14]:
country1_pred=[]
country2_pred=[]

for j in range(len(qatar_2022_hist_2)):
        if qatar_2022_hist_2['wins'][j]> qatar_2022_hist_2['looses'][j]:
            country1_pred.append(int(3))
            country2_pred.append(int(0))
        elif qatar_2022_hist_2['looses'][j]> qatar_2022_hist_2['wins'][j]:
            country1_pred.append(int(0))
            country2_pred.append(int(3))
        else:
            country1_pred.append(int(1))
            country2_pred.append(int(1))

In [15]:
qatar_2022_hist_2.insert(11,'country1_pred',country1_pred)
qatar_2022_hist_2.insert(12,'country2_pred',country2_pred)

In [16]:
qatar_2022_hist_2

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
0,1,2022-11-21,Qatar,Ecuador,group matches,Qatar,A,3,0.333333,0.333333,0.333333,1,1
1,5,2022-11-22,France,Australia,group matches,France,D,5,0.600000,0.200000,0.200000,3,0
2,6,2022-11-22,Denmark,Tunisia,group matches,Denmark,D,1,1.000000,0.000000,0.000000,3,0
3,7,2022-11-22,Mexico,Poland,group matches,Mexico,C,9,0.333333,0.333333,0.333333,1,1
4,8,2022-11-22,Argentina,Saudi Arabia,group matches,Argentina,C,4,0.500000,0.000000,0.500000,3,0
5,12,2022-11-23,Morocco,Croatia,group matches,Morocco,F,1,0.000000,0.000000,1.000000,1,1
6,11,2022-11-23,Germany,Japan,group matches,Germany,E,2,0.500000,0.000000,0.500000,3,0
7,9,2022-11-23,Belgium,Canada,group matches,Belgium,F,1,1.000000,0.000000,0.000000,3,0
8,10,2022-11-23,Spain,Costa Rica,group matches,Spain,E,3,0.666667,0.000000,0.333333,3,0
11,14,2022-11-24,Uruguay,South Korea,group matches,Uruguay,H,8,0.750000,0.125000,0.125000,3,0
9,15,2022-11-24,Portugal,Ghana,group matches,Portugal,H,1,1.000000,0.000000,0.000000,3,0
10,16,2022-11-24,Brazil,Serbia,group matches,Brazil,G,5,0.800000,0.000000,0.200000,3,0
12,19,2022-11-25,Netherlands,Ecuador,group matches,Netherlands,A,2,0.500000,0.000000,0.500000,3,0
13,17,2022-11-25,Wales,Iran,group matches,Wales,B,1,1.000000,0.000000,0.000000,3,0
17,22,2022-11-26,Poland,Saudi Arabia,group matches,Poland,C,4,1.000000,0.000000,0.000000,3,0
14,23,2022-11-26,France,Denmark,group matches,France,D,15,0.533333,0.333333,0.133333,3,0
15,21,2022-11-26,Tunisia,Australia,group matches,Tunisia,D,1,1.000000,0.000000,0.000000,3,0
16,24,2022-11-26,Argentina,Mexico,group matches,Argentina,C,31,0.483871,0.129032,0.387097,3,0
20,25,2022-11-27,Japan,Costa Rica,group matches,Japan,E,4,0.750000,0.000000,0.250000,0,3
19,26,2022-11-27,Belgium,Morocco,group matches,Belgium,F,3,0.666667,0.333333,0.000000,3,0
18,28,2022-11-27,Spain,Germany,group matches,Spain,E,25,0.320000,0.360000,0.320000,3,0
21,30,2022-11-28,South Korea,Ghana,group matches,South Korea,H,6,0.500000,0.500000,0.000000,1,1
22,29,2022-11-28,Cameroon,Serbia,group matches,Cameroon,G,1,0.000000,1.000000,0.000000,0,3
23,31,2022-11-28,Brazil,Switzerland,group matches,Brazil,G,9,0.333333,0.222222,0.444444,3,0
24,32,2022-11-28,Portugal,Uruguay,group matches,Portugal,H,3,0.333333,0.333333,0.333333,1,1
25,33,2022-11-29,Wales,England,group matches,Wales,B,104,0.144231,0.653846,0.201923,0,3
26,35,2022-11-29,Ecuador,Senegal,group matches,Ecuador,A,2,0.000000,1.000000,0.000000,0,3
30,40,2022-11-30,Saudi Arabia,Mexico,group matches,Saudi Arabia,C,5,0.000000,0.800000,0.200000,0,3
29,37,2022-11-30,Australia,Denmark,group matches,Australia,D,4,0.250000,0.500000,0.250000,0,3
27,39,2022-11-30,Poland,Argentina,group matches,Poland,C,11,0.272727,0.545455,0.181818,0,3
28,38,2022-11-30,Tunisia,France,group matches,Tunisia,D,4,0.000000,0.500000,0.500000,0,3
31,43,2022-12-01,Japan,Spain,group matches,Japan,E,1,0.000000,1.000000,0.000000,0,3
32,41,2022-12-01,Croatia,Belgium,group matches,Croatia,F,8,0.375000,0.375000,0.250000,1,1
33,44,2022-12-01,Costa Rica,Germany,group matches,Costa Rica,E,1,0.000000,1.000000,0.000000,0,3
34,42,2022-12-01,Canada,Morocco,group matches,Canada,F,3,0.000000,0.666667,0.333333,0,3
37,48,2022-12-02,Cameroon,Brazil,group matches,Cameroon,G,6,0.166667,0.833333,0.000000,3,0
35,46,2022-12-02,South Korea,Portugal,group matches,South Korea,H,1,1.000000,0.000000,0.000000,1,1
36,45,2022-12-02,Ghana,Uruguay,group matches,Ghana,H,1,0.000000,0.000000,1.000000,0,3
38,47,2022-12-02,Serbia,Switzerland,group matches,Serbia,G,5,0.200000,0.200000,0.600000,1,1

### Group Stages

In [17]:
for item in ['A','B','C','D','E','F','G','H']:
    print('Group '+item)
    display(matches_groups[matches_groups['Group']==item])
    print()

Group A

,match,date,country1,country2,phase,Team,Group
0,1,2022-11-21,Qatar,Ecuador,group matches,Qatar,A
2,2,2022-11-21,Senegal,Netherlands,group matches,Senegal,A
26,19,2022-11-25,Netherlands,Ecuador,group matches,Netherlands,A
1,18,2022-11-25,Qatar,Senegal,group matches,Qatar,A
27,36,2022-11-29,Netherlands,Qatar,group matches,Netherlands,A
41,35,2022-11-29,Ecuador,Senegal,group matches,Ecuador,A

Group B

    match       date country1 country2          phase     Team Group
3       3 2022-11-21  England     Iran  group matches  England     B
5       4 2022-11-21      USA    Wales  group matches      USA     B
24     17 2022-11-25    Wales     Iran  group matches    Wales     B
4      20 2022-11-25  England      USA  group matches  England     B
25     33 2022-11-29    Wales  England  group matches    Wales     B
40     34 2022-11-29     Iran      USA  group matches     Iran     B

Group C

,match,date,country1,country2,phase,Team,Group
9,7,2022-11-22,Mexico,Poland,group matches,Mexico,C
10,8,2022-11-22,Argentina,Saudi Arabia,group matches,Argentina,C
11,24,2022-11-26,Argentina,Mexico,group matches,Argentina,C
30,22,2022-11-26,Poland,Saudi Arabia,group matches,Poland,C
31,39,2022-11-30,Poland,Argentina,group matches,Poland,C
43,40,2022-11-30,Saudi Arabia,Mexico,group matches,Saudi Arabia,C

Group D

    match       date   country1   country2          phase       Team Group
6       5 2022-11-22     France  Australia  group matches     France     D
8       6 2022-11-22    Denmark    Tunisia  group matches    Denmark     D
7      23 2022-11-26     France    Denmark  group matches     France     D
28     21 2022-11-26    Tunisia  Australia  group matches    Tunisia     D
29     38 2022-11-30    Tunisia     France  group matches    Tunisia     D
42     37 2022-11-30  Australia    Denmark  group matches  Australia     D

Group E

    match       date    country1    country2          phase        Team Group
16     11 2022-11-23     Germany       Japan  group matches     Germany     E
14     10 2022-11-23       Spain  Costa Rica  group matches       Spain     E
15     28 2022-11-27       Spain     Germany  group matches       Spain     E
32     25 2022-11-27       Japan  Costa Rica  group matches       Japan     E
33     43 2022-12-01       Japan       Spain  group matches       Japan     E
45     44 2022-12-01  Costa Rica     Germany  group matches  Costa Rica     E

Group F

    match       date country1 country2          phase     Team Group
17     12 2022-11-23  Morocco  Croatia  group matches  Morocco     F
12      9 2022-11-23  Belgium   Canada  group matches  Belgium     F
34     27 2022-11-27  Croatia   Canada  group matches  Croatia     F
13     26 2022-11-27  Belgium  Morocco  group matches  Belgium     F
35     41 2022-12-01  Croatia  Belgium  group matches  Croatia     F
44     42 2022-12-01   Canada  Morocco  group matches   Canada     F

Group G

,match,date,country1,country2,phase,Team,Group
22,16,2022-11-24,Brazil,Serbia,group matches,Brazil,G
18,13,2022-11-24,Switzerland,Cameroon,group matches,Switzerland,G
36,29,2022-11-28,Cameroon,Serbia,group matches,Cameroon,G
23,31,2022-11-28,Brazil,Switzerland,group matches,Brazil,G
37,48,2022-12-02,Cameroon,Brazil,group matches,Cameroon,G
47,47,2022-12-02,Serbia,Switzerland,group matches,Serbia,G

Group H

,match,date,country1,country2,phase,Team,Group
20,15,2022-11-24,Portugal,Ghana,group matches,Portugal,H
19,14,2022-11-24,Uruguay,South Korea,group matches,Uruguay,H
38,30,2022-11-28,South Korea,Ghana,group matches,South Korea,H
21,32,2022-11-28,Portugal,Uruguay,group matches,Portugal,H
39,46,2022-12-02,South Korea,Portugal,group matches,South Korea,H
46,45,2022-12-02,Ghana,Uruguay,group matches,Ghana,H

### Predict groups matches results depending on history of past matches

In [18]:
print ('Countries how played togethter before Qatar 2022 \n')

for item in ['A','B','C','D','E','F','G','H']:
    print('Group '+item)
    display(qatar_2022_hist_2[qatar_2022_hist_2['Group']==item])
    print()

Countries how played togethter before Qatar 2022

Group A

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
0,1,2022-11-21,Qatar,Ecuador,group matches,Qatar,A,3,0.333333,0.333333,0.333333,1,1
12,19,2022-11-25,Netherlands,Ecuador,group matches,Netherlands,A,2,0.500000,0.000000,0.500000,3,0
26,35,2022-11-29,Ecuador,Senegal,group matches,Ecuador,A,2,0.000000,1.000000,0.000000,0,3

Group B

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
13,17,2022-11-25,Wales,Iran,group matches,Wales,B,1,1.000000,0.000000,0.000000,3,0
25,33,2022-11-29,Wales,England,group matches,Wales,B,104,0.144231,0.653846,0.201923,0,3

Group C

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
3,7,2022-11-22,Mexico,Poland,group matches,Mexico,C,9,0.333333,0.333333,0.333333,1,1
4,8,2022-11-22,Argentina,Saudi Arabia,group matches,Argentina,C,4,0.500000,0.000000,0.500000,3,0
17,22,2022-11-26,Poland,Saudi Arabia,group matches,Poland,C,4,1.000000,0.000000,0.000000,3,0
16,24,2022-11-26,Argentina,Mexico,group matches,Argentina,C,31,0.483871,0.129032,0.387097,3,0
30,40,2022-11-30,Saudi Arabia,Mexico,group matches,Saudi Arabia,C,5,0.000000,0.800000,0.200000,0,3
27,39,2022-11-30,Poland,Argentina,group matches,Poland,C,11,0.272727,0.545455,0.181818,0,3

Group D

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
1,5,2022-11-22,France,Australia,group matches,France,D,5,0.600000,0.200000,0.200000,3,0
2,6,2022-11-22,Denmark,Tunisia,group matches,Denmark,D,1,1.000000,0.000000,0.000000,3,0
14,23,2022-11-26,France,Denmark,group matches,France,D,15,0.533333,0.333333,0.133333,3,0
15,21,2022-11-26,Tunisia,Australia,group matches,Tunisia,D,1,1.000000,0.000000,0.000000,3,0
29,37,2022-11-30,Australia,Denmark,group matches,Australia,D,4,0.250000,0.500000,0.250000,0,3
28,38,2022-11-30,Tunisia,France,group matches,Tunisia,D,4,0.000000,0.500000,0.500000,0,3

Group E

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
6,11,2022-11-23,Germany,Japan,group matches,Germany,E,2,0.500000,0.00,0.500000,3,0
8,10,2022-11-23,Spain,Costa Rica,group matches,Spain,E,3,0.666667,0.00,0.333333,3,0
20,25,2022-11-27,Japan,Costa Rica,group matches,Japan,E,4,0.750000,0.00,0.250000,0,3
18,28,2022-11-27,Spain,Germany,group matches,Spain,E,25,0.320000,0.36,0.320000,3,0
31,43,2022-12-01,Japan,Spain,group matches,Japan,E,1,0.000000,1.00,0.000000,0,3
33,44,2022-12-01,Costa Rica,Germany,group matches,Costa Rica,E,1,0.000000,1.00,0.000000,0,3

Group F

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
5,12,2022-11-23,Morocco,Croatia,group matches,Morocco,F,1,0.000000,0.000000,1.000000,1,1
7,9,2022-11-23,Belgium,Canada,group matches,Belgium,F,1,1.000000,0.000000,0.000000,3,0
19,26,2022-11-27,Belgium,Morocco,group matches,Belgium,F,3,0.666667,0.333333,0.000000,3,0
32,41,2022-12-01,Croatia,Belgium,group matches,Croatia,F,8,0.375000,0.375000,0.250000,1,1
34,42,2022-12-01,Canada,Morocco,group matches,Canada,F,3,0.000000,0.666667,0.333333,0,3

Group G

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
10,16,2022-11-24,Brazil,Serbia,group matches,Brazil,G,5,0.800000,0.000000,0.200000,3,0
22,29,2022-11-28,Cameroon,Serbia,group matches,Cameroon,G,1,0.000000,1.000000,0.000000,0,3
23,31,2022-11-28,Brazil,Switzerland,group matches,Brazil,G,9,0.333333,0.222222,0.444444,3,0
37,48,2022-12-02,Cameroon,Brazil,group matches,Cameroon,G,6,0.166667,0.833333,0.000000,3,0
38,47,2022-12-02,Serbia,Switzerland,group matches,Serbia,G,5,0.200000,0.200000,0.600000,1,1

Group H

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
11,14,2022-11-24,Uruguay,South Korea,group matches,Uruguay,H,8,0.750000,0.125000,0.125000,3,0
9,15,2022-11-24,Portugal,Ghana,group matches,Portugal,H,1,1.000000,0.000000,0.000000,3,0
21,30,2022-11-28,South Korea,Ghana,group matches,South Korea,H,6,0.500000,0.500000,0.000000,1,1
24,32,2022-11-28,Portugal,Uruguay,group matches,Portugal,H,3,0.333333,0.333333,0.333333,1,1
35,46,2022-12-02,South Korea,Portugal,group matches,South Korea,H,1,1.000000,0.000000,0.000000,1,1
36,45,2022-12-02,Ghana,Uruguay,group matches,Ghana,H,1,0.000000,0.000000,1.000000,0,3

### Countries who haven't played before


To predict who w'll win these matches we can predict the win percentage for the national team against other national teams in the same continent for the rival
for example Qatar vs Netherland , we w'll calculate the win percentage for Qatar against europien teams and Netherland Win percentages against asian teams

### Group A :
 #### Qatar vs Netherlands

**Qatar**

In [19]:
qatar_wins = qatar_2022_hist[qatar_2022_hist['country1']=='Qatar'][['wins','country2']]
# qatar_2022_hist[qatar_2022_hist['country1']=='Senegal']['wins'].sum()
qatar_wins

         wins      country2
87   0.200000     Australia
129  0.000000       Belgium
179  0.000000        Brazil
269  0.000000    Costa Rica
299  0.000000       Croatia
489  0.000000         Ghana
517  0.136364          Iran
543  0.285714         Japan
595  0.000000       Morocco
665  0.000000      Portugal
680  0.000000     Argentina
682  0.333333       Ecuador
684  0.205128  Saudi Arabia
686  0.333333        Serbia
688  0.300000   South Korea
690  0.666667       Tunisia
692  0.000000         Wales
765  1.000000   Switzerland

Qatar played against **Belgium, Croatia, Portugal, Serbia, Wales, Switzerland**

In [20]:
qatar_wins_euro=[]
for i in ['Belgium','Croatia','Portugal','Serbia','Wales','Switzerland']: 
    qatar_wins_euro.append(qatar_wins['wins'][qatar_wins['country2']==i])
qatar_wins_euro

[129    0.0
 Name: wins, dtype: float64,
 299    0.0
 Name: wins, dtype: float64,
 665    0.0
 Name: wins, dtype: float64,
 686    0.333333
 Name: wins, dtype: float64,
 692    0.0
 Name: wins, dtype: float64,
 765    1.0
 Name: wins, dtype: float64]

In [21]:
qatar_wins_percentage = (0.0+0.0+0.0+0.333333+0.0+1.0)/len(qatar_wins_euro)*100
qatar_wins_percentage

22.222216666666668

**Netherlands**

In [22]:
neth_wins = qatar_2022_hist[qatar_2022_hist['country1']=='Netherlands'][['wins','country2']]
neth_wins

         wins      country2
35   0.444444     Argentina
85   0.250000     Australia
123  0.436508       Belgium
173  0.333333        Brazil
213  0.666667      Cameroon
241  1.000000        Canada
293  0.500000       Croatia
331  0.419355       Denmark
393  0.318182       England
427  0.392857        France
463  0.266667       Germany
511  1.000000          Iran
565  0.444444        Mexico
591  0.666667       Morocco
610  0.000000    Costa Rica
612  0.500000       Ecuador
614  0.666667         Ghana
616  0.666667         Japan
618  0.444444        Poland
620  0.142857      Portugal
622  1.000000  Saudi Arabia
624  1.000000        Serbia
626  1.000000   South Korea
628  0.500000         Spain
630  0.437500   Switzerland
632  1.000000         Wales
777  0.333333       Tunisia
791  0.500000       Uruguay

Netherlands played against Australia, Japan, Saudi Arabia, South Korea

In [23]:
neth_wins_percentage = ((0.250000+0.666667+1.000000+1.000000)/4)*100
neth_wins_percentage

72.916675

Netherlands could win

#### Qatar vs Senegal

**Qatar against african teams**

In [24]:
qatar_wins

         wins      country2
87   0.200000     Australia
129  0.000000       Belgium
179  0.000000        Brazil
269  0.000000    Costa Rica
299  0.000000       Croatia
489  0.000000         Ghana
517  0.136364          Iran
543  0.285714         Japan
595  0.000000       Morocco
665  0.000000      Portugal
680  0.000000     Argentina
682  0.333333       Ecuador
684  0.205128  Saudi Arabia
686  0.333333        Serbia
688  0.300000   South Korea
690  0.666667       Tunisia
692  0.000000         Wales
765  1.000000   Switzerland

Qatar played against Ghana, Morocco, Tunisia

In [25]:
qatar_africa_wins = ((0.0+0.0+0.666667)/3)*100
qatar_africa_wins

22.22223333333333

**Senegal against asian teams**

In [26]:
senegal_wins=qatar_2022_hist[qatar_2022_hist['country1']=='Senegal'][['wins','country2']]
senegal_wins

         wins      country2
183  0.000000        Brazil
217  0.384615      Cameroon
301  0.000000       Croatia
337  0.000000       Denmark
371  1.000000       Ecuador
435  1.000000        France
491  0.333333         Ghana
521  0.000000          Iran
547  0.500000         Japan
573  0.000000        Mexico
599  0.206897       Morocco
643  1.000000        Poland
699  0.000000  Saudi Arabia
710  0.210526       Tunisia
712  0.000000       Uruguay
737  0.600000   South Korea

Senegal played against Iran, Japan, Saudi Arabia, South Korea

In [27]:
senegal_asian_wins = ((0.5+0.6+0+0)/4)*100
senegal_asian_wins

27.500000000000004

Senegal could win

#### Netherland vs Senegal

**Netherland against african teams**

In [28]:
neth_wins

         wins      country2
35   0.444444     Argentina
85   0.250000     Australia
123  0.436508       Belgium
173  0.333333        Brazil
213  0.666667      Cameroon
241  1.000000        Canada
293  0.500000       Croatia
331  0.419355       Denmark
393  0.318182       England
427  0.392857        France
463  0.266667       Germany
511  1.000000          Iran
565  0.444444        Mexico
591  0.666667       Morocco
610  0.000000    Costa Rica
612  0.500000       Ecuador
614  0.666667         Ghana
616  0.666667         Japan
618  0.444444        Poland
620  0.142857      Portugal
622  1.000000  Saudi Arabia
624  1.000000        Serbia
626  1.000000   South Korea
628  0.500000         Spain
630  0.437500   Switzerland
632  1.000000         Wales
777  0.333333       Tunisia
791  0.500000       Uruguay

Netherlands played against Cameroon, Morocco, Ghana, Tunisia

In [29]:
neth_african_wins=((0.666667+0.666667+0.666667+0.333333)/4)*100
neth_african_wins

58.33335

**Senegal against european teams**

In [30]:
senegal_wins

         wins      country2
183  0.000000        Brazil
217  0.384615      Cameroon
301  0.000000       Croatia
337  0.000000       Denmark
371  1.000000       Ecuador
435  1.000000        France
491  0.333333         Ghana
521  0.000000          Iran
547  0.500000         Japan
573  0.000000        Mexico
599  0.206897       Morocco
643  1.000000        Poland
699  0.000000  Saudi Arabia
710  0.210526       Tunisia
712  0.000000       Uruguay
737  0.600000   South Korea

senegal played against Croatia, Denmark, France, Poland

In [31]:
senegal_euro_wins = ((0.000000+0.000000+1.000000+1.000000)/4)*100
senegal_euro_wins

50.0

Netherland could win

### Group B :
 #### Wales vs USA

USA against european teams

In [32]:
us_wins=qatar_2022_hist[qatar_2022_hist['country1']=='USA']
us_wins

Empty DataFrame
Columns: [country1, country2, games, wins, looses, draws]
Index: []

USA don't have history matches so we 'll look at [FIFA ranking](https://www.fifa.com/fifa-world-ranking/men?dateId=id13792)
 for both teams
- **USA** ranking is 16
- Wales ranking is 19

 #### Iran vs USA

USA don't have history matches so we 'll look at [FIFA ranking](https://www.fifa.com/fifa-world-ranking/men?dateId=id13792)
 for both teams
- **USA** ranking is 16
- Iran ranking is 20

 #### England vs USA

USA don't have history matches so we 'll look at [FIFA ranking](https://www.fifa.com/fifa-world-ranking/men?dateId=id13792) for both teams

- USA ranking is 16
- **England** ranking is 5

#### Iran vs England

Iran against european teams

In [33]:
iran_wins=qatar_2022_hist[qatar_2022_hist['country1']=='Iran'][['wins','country2']]
iran_wins

         wins      country2
27   0.000000     Argentina
77   0.428571     Australia
235  0.666667        Canada
289  0.000000       Croatia
325  0.000000       Denmark
361  0.000000       Ecuador
419  0.000000        France
455  0.000000       Germany
498  0.000000        Brazil
500  0.000000      Cameroon
502  0.500000    Costa Rica
504  1.000000         Ghana
506  0.181818         Japan
508  0.333333       Morocco
510  0.000000   Netherlands
512  0.000000        Poland
514  0.000000      Portugal
516  0.681818         Qatar
518  0.285714  Saudi Arabia
520  0.000000       Senegal
522  0.370370   South Korea
524  0.000000         Spain
526  0.000000       Tunisia
528  0.000000         Wales
563  0.000000        Mexico
717  0.000000        Serbia
789  0.000000       Uruguay

Iran played against Croatia, Denmark, France, Germany, Netherlands, Poland, Portugal, Spain, Wales, Serbia with win percentage 0% 😁

England against asian teams

In [34]:
eng_wins=qatar_2022_hist[qatar_2022_hist['country1']=='England'][['wins','country2']]
eng_wins

         wins      country2
19   0.400000     Argentina
69   0.571429     Australia
111  0.653846       Belgium
159  0.153846        Brazil
205  0.750000      Cameroon
227  1.000000        Canada
261  0.500000    Costa Rica
283  0.545455       Croatia
317  0.590909       Denmark
355  0.666667       Ecuador
380  0.515152        France
382  0.411765       Germany
384  0.000000         Ghana
386  0.666667         Japan
388  0.700000        Mexico
390  0.500000       Morocco
392  0.272727   Netherlands
394  0.571429        Poland
396  0.434783      Portugal
398  0.000000  Saudi Arabia
400  1.000000        Serbia
402  0.481481         Spain
404  0.655172   Switzerland
406  0.666667       Tunisia
408  0.272727       Uruguay
410  0.653846         Wales
733  0.000000   South Korea

In [35]:
((0.666667+0.571429+0)/3)*100

41.26986666666667

England wins 🧐

### Group F :
 #### Croatia vs Canada

Canda against european teams

In [36]:
can_wins=qatar_2022_hist[qatar_2022_hist['country1']=='Canada'][['wins','country2']]
can_wins

         wins      country2
9    0.000000     Argentina
59   0.333333     Australia
149  0.000000        Brazil
199  0.000000      Cameroon
220  0.000000       Belgium
222  0.250000    Costa Rica
224  0.000000       Ecuador
226  0.000000       England
228  0.000000        France
230  0.000000       Germany
232  1.000000         Ghana
234  0.333333          Iran
236  0.121212        Mexico
238  0.000000       Morocco
240  0.000000   Netherlands
242  0.000000        Poland
244  0.000000      Portugal
246  0.000000  Saudi Arabia
248  0.400000   South Korea
250  0.000000         Spain
252  0.000000       Uruguay
254  0.333333         Wales
315  0.000000       Denmark
533  0.000000         Japan
759  1.000000   Switzerland
773  0.000000       Tunisia

In [37]:
can_euro_wins=((0*9+0.333333+1.000000)/11)*100
can_euro_wins

12.121209090909092

croatia against north american teams

In [38]:
croatia_wins=qatar_2022_hist[qatar_2022_hist['country1']=='Croatia'][['wins','country2']]
croatia_wins

         wins     country2
13   0.400000    Argentina
63   0.333333    Australia
107  0.375000      Belgium
153  0.000000       Brazil
201  1.000000     Cameroon
280  0.428571      Denmark
282  0.272727      England
284  0.100000       France
286  0.250000      Germany
288  0.500000         Iran
290  0.666667       Mexico
292  0.500000  Netherlands
294  0.600000       Poland
296  0.000000     Portugal
298  1.000000        Qatar
300  1.000000      Senegal
302  0.400000       Serbia
304  0.428571  South Korea
306  0.333333        Spain
308  0.428571  Switzerland
310  0.000000      Tunisia
312  0.666667        Wales
353  0.000000      Ecuador
535  0.333333        Japan
589  0.000000      Morocco

Croatia didn't play against north american teams so we w'll look at overall win average for both teams

In [39]:
(croatia_wins['wins'].sum()/len(croatia_wins))*100

40.06709956709957

In [40]:
print(f"Croatia:{(croatia_wins['wins'].sum()/len(croatia_wins))*100}   Canada:{(can_wins['wins'].sum()/len(can_wins))*100} ")

Croatia:40.06709956709957   Canada:14.504662004662002

Croatia have better win percentage than canada

### Group G :
 #### Switzerland vs Cameroon

switzerland against african teams

In [41]:
swiss_wins=qatar_2022_hist[qatar_2022_hist['country1']=='Switzerland'][['wins','country2']]
swiss_wins

         wins     country2
49   0.000000    Argentina
139  0.300000      Belgium
191  0.222222       Brazil
309  0.285714      Croatia
345  0.166667      Denmark
405  0.137931      England
443  0.307692       France
477  0.173077      Germany
553  0.333333        Japan
581  0.666667       Mexico
605  0.000000      Morocco
631  0.468750  Netherlands
651  0.100000       Poland
673  0.440000     Portugal
725  0.200000       Serbia
741  0.500000  South Korea
749  0.041667        Spain
756  0.000000    Australia
758  0.000000       Canada
760  0.333333   Costa Rica
762  1.000000      Ecuador
764  0.000000        Qatar
766  0.000000      Uruguay
768  0.625000        Wales
781  0.666667      Tunisia

Switzerland played against Morocco and Tunisisa

In [42]:
swiss_african_wins=((0.666667+0)/2)*100
swiss_african_wins

33.33335

Cameroon against european teams

In [43]:
cam_wins=qatar_2022_hist[qatar_2022_hist['country1']=='Cameroon'][['wins','country2']]
cam_wins

         wins      country2
7    0.500000     Argentina
147  0.166667        Brazil
196  0.000000     Australia
198  1.000000        Canada
200  0.000000       Croatia
202  0.333333       Denmark
204  0.000000       England
206  0.000000       Germany
208  0.250000         Ghana
210  0.545455       Morocco
212  0.000000   Netherlands
214  0.400000  Saudi Arabia
216  0.230769       Senegal
218  0.473684       Tunisia
257  0.000000    Costa Rica
413  0.000000        France
501  0.000000          Iran
531  0.000000         Japan
561  0.000000        Mexico
637  0.333333        Poland
659  0.000000      Portugal
715  0.000000        Serbia
731  0.000000   South Korea

In [44]:
cam_euro_wins=((0.333333+0.333333+0*7)/9)*100
cam_euro_wins

7.4074

Switzerland have better win percentage


#### Group A :
 - Qatar vs **Netherlands**
 - Qatar vs **Senegal**
 - **Netherland** vs Senegal
 
#### Group B :
 - Wales vs **USA**
 - Iran vs **USA**
 - **England** vs USA
 - Iran vs **England**
 
#### Group F :
 - **Croatia** vs Canada
 
#### Group G :
 - **Switzerland** vs Cameroon

In [45]:
for item in ['A','B','C','D','E','F','G','H']:
    print('Group '+item)
    display(qatar_2022_hist_2[qatar_2022_hist_2['Group']==item])
    print()

Group A

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
0,1,2022-11-21,Qatar,Ecuador,group matches,Qatar,A,3,0.333333,0.333333,0.333333,1,1
12,19,2022-11-25,Netherlands,Ecuador,group matches,Netherlands,A,2,0.500000,0.000000,0.500000,3,0
26,35,2022-11-29,Ecuador,Senegal,group matches,Ecuador,A,2,0.000000,1.000000,0.000000,0,3

Group B

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
13,17,2022-11-25,Wales,Iran,group matches,Wales,B,1,1.000000,0.000000,0.000000,3,0
25,33,2022-11-29,Wales,England,group matches,Wales,B,104,0.144231,0.653846,0.201923,0,3

Group C

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
3,7,2022-11-22,Mexico,Poland,group matches,Mexico,C,9,0.333333,0.333333,0.333333,1,1
4,8,2022-11-22,Argentina,Saudi Arabia,group matches,Argentina,C,4,0.500000,0.000000,0.500000,3,0
17,22,2022-11-26,Poland,Saudi Arabia,group matches,Poland,C,4,1.000000,0.000000,0.000000,3,0
16,24,2022-11-26,Argentina,Mexico,group matches,Argentina,C,31,0.483871,0.129032,0.387097,3,0
30,40,2022-11-30,Saudi Arabia,Mexico,group matches,Saudi Arabia,C,5,0.000000,0.800000,0.200000,0,3
27,39,2022-11-30,Poland,Argentina,group matches,Poland,C,11,0.272727,0.545455,0.181818,0,3

Group D

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
1,5,2022-11-22,France,Australia,group matches,France,D,5,0.600000,0.200000,0.200000,3,0
2,6,2022-11-22,Denmark,Tunisia,group matches,Denmark,D,1,1.000000,0.000000,0.000000,3,0
14,23,2022-11-26,France,Denmark,group matches,France,D,15,0.533333,0.333333,0.133333,3,0
15,21,2022-11-26,Tunisia,Australia,group matches,Tunisia,D,1,1.000000,0.000000,0.000000,3,0
29,37,2022-11-30,Australia,Denmark,group matches,Australia,D,4,0.250000,0.500000,0.250000,0,3
28,38,2022-11-30,Tunisia,France,group matches,Tunisia,D,4,0.000000,0.500000,0.500000,0,3

Group E

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
6,11,2022-11-23,Germany,Japan,group matches,Germany,E,2,0.500000,0.00,0.500000,3,0
8,10,2022-11-23,Spain,Costa Rica,group matches,Spain,E,3,0.666667,0.00,0.333333,3,0
20,25,2022-11-27,Japan,Costa Rica,group matches,Japan,E,4,0.750000,0.00,0.250000,0,3
18,28,2022-11-27,Spain,Germany,group matches,Spain,E,25,0.320000,0.36,0.320000,3,0
31,43,2022-12-01,Japan,Spain,group matches,Japan,E,1,0.000000,1.00,0.000000,0,3
33,44,2022-12-01,Costa Rica,Germany,group matches,Costa Rica,E,1,0.000000,1.00,0.000000,0,3

Group F

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
5,12,2022-11-23,Morocco,Croatia,group matches,Morocco,F,1,0.000000,0.000000,1.000000,1,1
7,9,2022-11-23,Belgium,Canada,group matches,Belgium,F,1,1.000000,0.000000,0.000000,3,0
19,26,2022-11-27,Belgium,Morocco,group matches,Belgium,F,3,0.666667,0.333333,0.000000,3,0
32,41,2022-12-01,Croatia,Belgium,group matches,Croatia,F,8,0.375000,0.375000,0.250000,1,1
34,42,2022-12-01,Canada,Morocco,group matches,Canada,F,3,0.000000,0.666667,0.333333,0,3

Group G

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
10,16,2022-11-24,Brazil,Serbia,group matches,Brazil,G,5,0.800000,0.000000,0.200000,3,0
22,29,2022-11-28,Cameroon,Serbia,group matches,Cameroon,G,1,0.000000,1.000000,0.000000,0,3
23,31,2022-11-28,Brazil,Switzerland,group matches,Brazil,G,9,0.333333,0.222222,0.444444,3,0
37,48,2022-12-02,Cameroon,Brazil,group matches,Cameroon,G,6,0.166667,0.833333,0.000000,3,0
38,47,2022-12-02,Serbia,Switzerland,group matches,Serbia,G,5,0.200000,0.200000,0.600000,1,1

Group H

,match,date,country1,country2,phase,Team,Group,games,wins,looses,draws,country1_pred,country2_pred
11,14,2022-11-24,Uruguay,South Korea,group matches,Uruguay,H,8,0.750000,0.125000,0.125000,3,0
9,15,2022-11-24,Portugal,Ghana,group matches,Portugal,H,1,1.000000,0.000000,0.000000,3,0
21,30,2022-11-28,South Korea,Ghana,group matches,South Korea,H,6,0.500000,0.500000,0.000000,1,1
24,32,2022-11-28,Portugal,Uruguay,group matches,Portugal,H,3,0.333333,0.333333,0.333333,1,1
35,46,2022-12-02,South Korea,Portugal,group matches,South Korea,H,1,1.000000,0.000000,0.000000,1,1
36,45,2022-12-02,Ghana,Uruguay,group matches,Ghana,H,1,0.000000,0.000000,1.000000,0,3

In [46]:
points={'Qatar':1,'Netherlands':9,'Ecuador':1,'Senegal':6,
        'Wales':3,'Iran':0,'England':9,'USA':6,
        'Mexico':4,'Argentina':6,'Poland':4,'Saudi Arabia':0,
        'France':6,'Denmark':6,'Australia':0,'Tunisia':3,
        'Germany':6,'Spain':9,'Costa Rica':3,'Japan':0,
        'Morocco':4,'Croatia':6,'Belgium':7,'Canada':0,
        'Brazil':7,'Serbia':4,'Cameroon':1,'Switzerland':6,
        'Uruguay':5,'Portugal':4,'Ghana':2,'South Korea':4}

In [47]:
qatar_2022_points=pd.DataFrame({'Team':points.keys(),'points':points.values()})

In [48]:
qatar_2022_points_groups = Qatar2022_teams.merge(qatar_2022_points,on='Team').sort_values(by='points', ascending=False)

In [49]:
for item in ['A','B','C','D','E','F','G','H']:
    print('Group '+item)
    display(qatar_2022_points_groups[qatar_2022_points_groups['Group']==item])
    print()

Group A

          Team Group  points
2  Netherlands     A       9
0      Senegal     A       6
3      Ecuador     A       1
1        Qatar     A       1

Group B

      Team Group  points
5  England     B       9
6      USA     B       6
7    Wales     B       3
4     Iran     B       0

Group C

            Team Group  points
8      Argentina     C       6
11        Poland     C       4
10        Mexico     C       4
9   Saudi Arabia     C       0

Group D

         Team Group  points
12    Denmark     D       6
14     France     D       6
13    Tunisia     D       3
15  Australia     D       0

Group E

          Team Group  points
18       Spain     E       9
16     Germany     E       6
19  Costa Rica     E       3
17       Japan     E       0

Group F

       Team Group  points
22  Belgium     F       7
21  Croatia     F       6
20  Morocco     F       4
23   Canada     F       0

Group G

           Team Group  points
26       Brazil     G       7
24  Switzerland     G       6
27       Serbia     G       4
25     Cameroon     G       1

Group H

           Team Group  points
28      Uruguay     H       5
30     Portugal     H       4
29  South Korea     H       4
31        Ghana     H       2

In [50]:

group_a = qatar_2022_points_groups[qatar_2022_points_groups['Group']=='A']
group_b = qatar_2022_points_groups[qatar_2022_points_groups['Group']=='B']
group_c = qatar_2022_points_groups[qatar_2022_points_groups['Group']=='C']
group_d = qatar_2022_points_groups[qatar_2022_points_groups['Group']=='D']
group_e = qatar_2022_points_groups[qatar_2022_points_groups['Group']=='E']
group_f = qatar_2022_points_groups[qatar_2022_points_groups['Group']=='F']
group_g = qatar_2022_points_groups[qatar_2022_points_groups['Group']=='G']
group_h = qatar_2022_points_groups[qatar_2022_points_groups['Group']=='H']

## Round 16 to final

In [51]:
print('Round 16')
round_16_to_final=matchs_schudule[matchs_schudule['phase']!='group matches']
display(round_16_to_final)

Round 16

    match       date country1 country2           phase Team
48     49 2022-12-03       1A       2B        round 16   1A
49     50 2022-12-03       1C       2D        round 16   1C
50     51 2022-12-04       1B       2A        round 16   1B
51     52 2022-12-04       1D       2C        round 16   1D
52     53 2022-12-05       1E       2F        round 16   1E
53     54 2022-12-05       1G       2H        round 16   1G
54     55 2022-12-06       1F       2E        round 16   1F
55     56 2022-12-06       1H       2G        round 16   1H
56     57 2022-12-09      W49      W50  quarter-finals  W49
57     58 2022-12-09      W53      W54  quarter-finals  W53
58     59 2022-12-10      W51      W52  quarter-finals  W51
59     60 2022-12-10      W55      W56  quarter-finals  W55
60     61 2022-12-13      W57      W58     semi-finals  W57
61     62 2022-12-14      W59      W60     semi-finals  W59
62     63 2022-12-17      L61      L62     third place  L61
63     64 2022-12-18      W61      W62           final  W61

### Round 16

In [52]:
print('Round 16')
round_16=matchs_schudule[matchs_schudule['phase']=='round 16']
display(round_16)

Round 16

    match       date country1 country2     phase Team
48     49 2022-12-03       1A       2B  round 16   1A
49     50 2022-12-03       1C       2D  round 16   1C
50     51 2022-12-04       1B       2A  round 16   1B
51     52 2022-12-04       1D       2C  round 16   1D
52     53 2022-12-05       1E       2F  round 16   1E
53     54 2022-12-05       1G       2H  round 16   1G
54     55 2022-12-06       1F       2E  round 16   1F
55     56 2022-12-06       1H       2G  round 16   1H

In [53]:
round_16['country1']=[group_a['Team'][2],group_c['Team'][8],group_b['Team'][5],group_d['Team'][14],group_e['Team'][18],group_g['Team'][26],group_f['Team'][22],group_h['Team'][28]]
round_16['country2']=[group_b['Team'][6],group_d['Team'][12],group_a['Team'][0],group_c['Team'][11],group_f['Team'][21],group_h['Team'][30],group_e['Team'][16],group_g['Team'][24]]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
round_16[['match','date','country1','country2','phase']]

    match       date     country1     country2     phase
48     49 2022-12-03  Netherlands          USA  round 16
49     50 2022-12-03    Argentina      Denmark  round 16
50     51 2022-12-04      England      Senegal  round 16
51     52 2022-12-04       France       Poland  round 16
52     53 2022-12-05        Spain      Croatia  round 16
53     54 2022-12-05       Brazil     Portugal  round 16
54     55 2022-12-06      Belgium      Germany  round 16
55     56 2022-12-06      Uruguay  Switzerland  round 16

In [55]:
round_16_hist = round_16.merge(qatar_2022_hist,on=['country1','country2'],how='inner').sort_values('date')
round_16_hist

,match,date,country1,country2,phase,Team,games,wins,looses,draws
0,50,2022-12-03,Argentina,Denmark,round 16,1C,2,0.000000,0.500000,0.500000
1,52,2022-12-04,France,Poland,round 16,1D,16,0.500000,0.187500,0.312500
2,53,2022-12-05,Spain,Croatia,round 16,1E,9,0.555556,0.333333,0.111111
3,54,2022-12-05,Brazil,Portugal,round 16,1G,21,0.666667,0.190476,0.142857
4,55,2022-12-06,Belgium,Germany,round 16,1F,25,0.160000,0.800000,0.040000
5,56,2022-12-06,Uruguay,Switzerland,round 16,1H,3,0.666667,0.000000,0.333333

#### Netherland vs USA and England vs Senegal haven't played together before

**Netherland vs USA** 

Look at [FIFA ranking](https://www.fifa.com/fifa-world-ranking/men?dateId=id13792)
- Netherland ranking is 8
- USA ranking is 16

So Netherland have more chance to win

**England vs Senegal**

In [56]:
senegal_euro_wins

50.0

In [57]:
eng_wins

         wins      country2
19   0.400000     Argentina
69   0.571429     Australia
111  0.653846       Belgium
159  0.153846        Brazil
205  0.750000      Cameroon
227  1.000000        Canada
261  0.500000    Costa Rica
283  0.545455       Croatia
317  0.590909       Denmark
355  0.666667       Ecuador
380  0.515152        France
382  0.411765       Germany
384  0.000000         Ghana
386  0.666667         Japan
388  0.700000        Mexico
390  0.500000       Morocco
392  0.272727   Netherlands
394  0.571429        Poland
396  0.434783      Portugal
398  0.000000  Saudi Arabia
400  1.000000        Serbia
402  0.481481         Spain
404  0.655172   Switzerland
406  0.666667       Tunisia
408  0.272727       Uruguay
410  0.653846         Wales
733  0.000000   South Korea

African teams that England played against are Cameroon, Ghana, Morocco, Tunisia

In [58]:
eng_african_wins=((0.75+0.5+0.0+0.666667)/4)*100
eng_african_wins

47.916675

In [59]:
print(f'Senegal win avg against european teams is {senegal_euro_wins}\nEngland win avg against african teams is {eng_african_wins}')

Senegal win avg against european teams is 50.0
England win avg against african teams is 47.916675

### Quarter final

In [60]:
print('Quarter finals')
quarter_final=matchs_schudule[matchs_schudule['phase']=='quarter-finals']
display(quarter_final)

Quarter finals

    match       date country1 country2           phase Team
56     57 2022-12-09      W49      W50  quarter-finals  W49
57     58 2022-12-09      W53      W54  quarter-finals  W53
58     59 2022-12-10      W51      W52  quarter-finals  W51
59     60 2022-12-10      W55      W56  quarter-finals  W55

In [61]:
quarter_final['country1']=['Netherlands','Spain','Senegal','Germany']
quarter_final['country2']=['Denmark','Brazil','France','Uruguay']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
quarter_final[['match','date','country1','country2','phase']]

    match       date     country1 country2           phase
56     57 2022-12-09  Netherlands  Denmark  quarter-finals
57     58 2022-12-09        Spain   Brazil  quarter-finals
58     59 2022-12-10      Senegal   France  quarter-finals
59     60 2022-12-10      Germany  Uruguay  quarter-finals

In [63]:
qf_hist = quarter_final.merge(qatar_2022_hist,on=['country1','country2'],how='inner').sort_values('date')
qf_hist

,match,date,country1,country2,phase,Team,games,wins,looses,draws
0,57,2022-12-09,Netherlands,Denmark,quarter-finals,W49,31,0.419355,0.258065,0.322581
1,58,2022-12-09,Spain,Brazil,quarter-finals,W53,9,0.222222,0.555556,0.222222
2,59,2022-12-10,Senegal,France,quarter-finals,W51,1,1.000000,0.000000,0.000000
3,60,2022-12-10,Germany,Uruguay,quarter-finals,W55,10,0.800000,0.000000,0.200000

### Semi finals

In [64]:
print('Semi finals')
semi_final=matchs_schudule[matchs_schudule['phase']=='semi-finals']
display(semi_final)

Semi finals

    match       date country1 country2        phase Team
60     61 2022-12-13      W57      W58  semi-finals  W57
61     62 2022-12-14      W59      W60  semi-finals  W59

In [65]:
semi_final['country1']=['Netherlands','Senegal']
semi_final['country2']=['Brazil','Germany']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [66]:
semi_final[['match','date','country1','country2','phase']]

    match       date     country1 country2        phase
60     61 2022-12-13  Netherlands   Brazil  semi-finals
61     62 2022-12-14      Senegal  Germany  semi-finals

In [67]:
semi_final_hist = semi_final.merge(qatar_2022_hist,on=['country1','country2'],how='inner').sort_values('date')
semi_final_hist

,match,date,country1,country2,phase,Team,games,wins,looses,draws
0,61,2022-12-13,Netherlands,Brazil,semi-finals,W57,12,0.333333,0.25,0.416667

#### Senegal and Germany haven't played before

In [68]:
ger_wins=qatar_2022_hist[qatar_2022_hist['country1']=='Germany'][['wins','country2']]
ger_wins

         wins      country2
23   0.304348     Argentina
73   0.666667     Australia
115  0.800000       Belgium
163  0.217391        Brazil
207  0.750000      Cameroon
231  1.000000        Canada
287  0.625000       Croatia
321  0.535714       Denmark
359  1.000000       Ecuador
383  0.382353       England
417  0.281250        France
450  1.000000    Costa Rica
452  0.666667         Ghana
454  1.000000          Iran
456  0.500000         Japan
458  0.416667        Mexico
460  1.000000       Morocco
462  0.355556   Netherlands
464  0.619048        Poland
466  0.578947      Portugal
468  1.000000  Saudi Arabia
470  0.400000        Serbia
472  0.500000   South Korea
474  0.360000         Spain
476  0.673077   Switzerland
478  0.333333       Tunisia
480  0.800000       Uruguay
482  0.529412         Wales

Germany played against these teams at Africa:
- Tunisia
- Morocco
- Cameroon
- Ghana

In [69]:
ger_african_wins = ((0.750000+0.666667+1.000000+0.333333)/4)*100
ger_african_wins

68.75

In [70]:
print(f'Germany wins avg against african teams is {ger_african_wins}\nSenegal wins avg against european teams is {senegal_euro_wins}')

Germany wins avg against african teams is 68.75
Senegal wins avg against european teams is 50.0

### Final

In [71]:
print('Final')
final=matchs_schudule[matchs_schudule['phase']=='final']
display(final)

Final

    match       date country1 country2  phase Team
63     64 2022-12-18      W61      W62  final  W61

In [72]:
final['country1']=['Netherlands']
final['country2']=['Germany']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [73]:
final

    match       date     country1 country2  phase Team
63     64 2022-12-18  Netherlands  Germany  final  W61

In [74]:
final_hist = final.merge(qatar_2022_hist,on=['country1','country2'],how='inner').sort_values('date')
final_hist

,match,date,country1,country2,phase,Team,games,wins,looses,draws
0,64,2022-12-18,Netherlands,Germany,final,W61,45,0.266667,0.355556,0.377778

# World cup winnner is Germany 🎉🏆